/* 
declaration blocks:

selector{
    property: value;
    property2: value;
}
*/

body{
    background-color: black;
    color: whitesmoke;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#meme{
    margin-right: 0px;
}

h1{
    text-align: center;
}

header{
    text-align: center;
}

p{
    text-align: center;
}